@import "tailwindcss";

@theme inline {
  --color-slate: #3B434C;
  --color-gold: #FF8E6E;
  --color-peach: #FF8E6E;
  --color-stone: #E5E7EB;
  --color-lightbg: #F5F6F8;
  --font-serif: var(--font-playfair);
}

body {
  background: var(--color-lightbg);
  color: var(--color-slate);
}

/* Custom Ultra-Thin Scrollbar */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 142, 110, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 142, 110, 1);
}